#darkPlaceholder::placeholder {
  color: rgb(173, 173, 173) !important;
}

#lightPlaceholder::placeholder {
  color: rgb(0, 0, 0) !important;
}

.homeContainer {
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

/* *::-webkit-scrollbar {
  width: "0.4em";
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid slategrey;
} */
